.app-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* background-image: url(https://cdn.pixabay.com/photo/2020/07/22/01/41/universe-5427747_960_720.jpg); */
}

.filtros-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;

  width: 250px;
  height: 100%;
  padding: 8px;
  margin: 4px;
  background-color: #d0d1e2;
  color: rgb(8, 8, 8);
  /* background-image: url(https://cdn.pixabay.com/photo/2020/07/22/01/41/universe-5427747_960_720.jpg); */
}
.carrinhoContainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100%;
  padding: 8px;
  margin: 4px;

  color: rgb(8, 8, 8);
}
.filtros-container > label {
  margin-top: 4px;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 8px;
  justify-content: center;
}
.produtos-container {
  display: grid;
  grid-template-columns: 1fr 1fr, 1fr;
  padding: 16px;
  gap: 8px;
  background-color: #e7e7e7;
  width: 70%;
  color: rgb(20, 20, 20);
}
h2 {
  color: rgb(89, 138, 138);
  text-justify: right;
}

.produtos-container-card {
  display: flex;
  flex-direction: column;
}

/* .carrinhoContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 100vh;
    padding: 8px;
    background-position-x: right;
    text-align: left; */
/* 










} */
