.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(https://cdn.pixabay.com/photo/2020/07/22/01/41/universe-5427747_960_720.jpg);
}

.filtros-container,
.carrinhoContainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 200px;
  height: 100vh;
  padding: 8px;
  background-color: #0b1042;
  color: beige;
}

.filtros-container > label {
  margin-top: 4px;
}

.produtos-grid {
  display: flex;
  grid-template-columns: repeat(5, 5fr);
  gap: 16px;
  padding: 16px;
  background-image: url(https://cdn.pixabay.com/photo/2020/07/22/01/41/universe-5427747_960_720.jpg);
  left: 20px;
  color: beige;
}
.produtos-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  padding: 16px;
  gap: 8px;
  background-color: #0b1042;
  width: 70%;
 color:beige;

}

.produtos-container-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 32px;
}

/* .carrinhoContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 100vh;
    padding: 8px;
    background-position-x: right;
    text-align: left; */
/* 










} */
